# .dockerignore

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# --- AJOUTS IMPORTANTS ---
# Ignorer les dépendances et les artefacts de build du Frontend
frontend/node_modules
frontend/dist
# --- FIN DES AJOUTS ---

# Environnements virtuels Python
.venv/
venv/
env/
ENV/

# Fichiers de cache Python
__pycache__/
*.py[cod]
*$py.class

# Fichiers d'environnement (seront injectés à l'exécution)
.env
.env.example

# Répertoires générés par l'application
# On ne veut pas copier les uploads locaux dans l'image
uploads/

# Fichiers d'IDE
.idea/
.vscode/