fastapi
uvicorn[standard]
pydub
requests
python-dotenv
python-multipart
jinja2
sqlalchemy
psycopg2-binary
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
python-jose[cryptography]
alembic
pydantic-settings
aiofiles
langextract
azure-cognitiveservices-speech
litellm